
<table class="tx-searchbar" >
	<tr>
		<td>
			<f:translate key="tx_searchbar_domain_model_items.title" />
		</td>
		<td>
		{items.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_searchbar_domain_model_items.hotkey" />
		</td>
		<td>
		{items.hotkey}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_searchbar_domain_model_items.glue" />
		</td>
		<td>
		{items.glue}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_searchbar_domain_model_items.searchurl" />
		</td>
		<td>
		{items.searchurl}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_searchbar_domain_model_items.typoscript" />
		</td>
		<td>
		{items.typoscript}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_searchbar_domain_model_items.itemtype" />
		</td>
		<td>
		{items.itemtype}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_searchbar_domain_model_items.additionalfunctions" />
		</td>
		<td>
		{items.additionalfunctions}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_searchbar_domain_model_items.hideinfe" />
		</td>
		<td>
		{items.hideinfe}
		</td>
	</tr>
</table>